#container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#navbar{
    display: flex;
    justify-content: space-around;
    height: 30px;
    background-color: gold;
    padding: 3px;
    padding-top: 6px;
}

#editCont{
    border: 2px solid black;
    display: none;
}